
div.sticky{
	width:100vw;
	height:auto;
	/*position: relative;*/
}
div.menu{
	position:sticky;
	position:-webkit-sticky;
	display:none;
	/*padding-top:20px;*/
	width:100%;
	height: 40px;
	/*background: burlywood;*/
	top:0;
	margin-top:30px;
	z-index:10;
}
div.menu  .nav{
	border-radius: 5px;
	position:relative;
	padding:0;
	max-width:1200px;
	background: #eaeae0;
	height: 40px;
	margin: 0 auto;
	/*div的边框阴影*/
	box-shadow:1px 1px 5px rgba(255,255,255,0.4) ;
}
div.menu .nav li{
	display:inline-block;
	float:left;
	
	line-height: 40px;
}
div.menu .nav li:after{
	content: "|";
	color:#183b6a;
}
div.menu .nav li:last-of-type:after{
	content:"";
}
div.menu .menu_right{
	float:right;
}
div.menu .nav li>a{
	color: #183b6a;
	font-size: 17px;
	font-weight: 550;
	margin: 0 10px;
}
div.menu .nav ul>li:first-of-type>a{
	text-shadow: 1px 1px 5px #569ce3;
	color:#183b6a;
}
div.menu .nav li.drop>a:after{
	content: "";
	width:8px;
	height: 8px;
	display: inline-block;
	/*background: red;*/
	margin-left: 5px;
	transform: rotate(45deg);
	border-right: 1px solid #878783;
	border-bottom: 1px solid #878783;
}

div.menu .nav div.drop_div{
	position: absolute;
	left:0;
	top:40px;
	width:100%;
	/*height: 60px;*/
	/*渐变色*/
	background: linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));;
	background:-moz-linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));
	background:-ms-linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));
	background:-webkit-linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));
	text-align: center;
	box-shadow:1px 1px 5px rgba(255,255,255,0.2);
	opacity: 0.3;
	visibility: hidden;
	border-radius: 5px;
}
div.menu .nav .drop_div a{
	width: 150px;
	height: 150px;
	display: inline-block;
	border:1px solid rgba(20,20,20,0.15);
	position: relative;
	top:0;
	margin:20px 80px 80px 80px;
	opacity: 0.3;
}
div.menu .nav .drop_div a img{
	display: inline-block;
	width:150px;
	height: 150px;
}
div.menu .nav .drop_div a p{
	line-height:10px ;
	font-weight: 500;
	color:darkorange;
}

/*下面是各种事件*/
div.menu .nav li.drop:hover a:after{
	transform:rotate(225deg);
	border-right: 1px solid #be0e3d;
	border-bottom: 1px solid #be0e3d;
	transition: all 0.5s;
}
div.menu li.drop:hover .drop_div{
	visibility: visible;
	opacity: 1;
	transition: all 0.5s;
}
div.menu li.drop:hover a:nth-of-type(1){
	opacity: 1;
	top:20px;
	transition: all 0.5s;
}
div.menu li.drop:hover a:nth-of-type(2){
	opacity: 1;
	top:20px;
	transition: all 0.5s;
	transition-delay: 50ms;
}
div.menu li.drop:hover a:nth-of-type(3){
	opacity: 1;
	top:20px;
	transition: all 0.5s;
	transition-delay: 100ms;
}
div.menu li:hover>a{
	color:#be0e3d;
}
div.menu .drop_div a:hover img{
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}
div.menu .drop_div a:hover p{
	color:white;
}
